.overall{
  background-color:#999999;
  min-width: 375px;
  min-height: 667px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.containers{
  margin: auto;
  width:100%;
  height:15%;
}

.dividers{
  padding: 0.5em;
}

.carousel-item{
  /* overflow-y: hidden; */
  /* width:auto; */
  height: 200px;
}
#topContainer{
  box-shadow: 2px 2px 8px black;
  height: 100;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

#middleContainer{
  padding-left: 0.75em;
  padding-right: 0.75em;
}

#gameCollections{
  background-color: #bfbfbf;
  height: 20em;
}

.gameDiv{
  margin: 1em;
  width: 25%;
  /* height: 5em; */
  float: left;
  padding: 0.5em;
  background-color: white;

}


.gameButton{
  margin: auto;
  overflow:hidden;
  float = center;
  height:100%;
  width:80%;
  background-color: blue;
}
